#!/usr/bin/env bash

# SPDX-FileCopyrightText: 2026 Emily <hello@emily.moe>
#
# SPDX-License-Identifier: BlueOak-1.0.0

files=(
  nix/autopen/package.nix
  nix/cargo-checks.nix
  nix/treefmt.nix
)
watch_file "${files[@]}"

use flake
